<% layout("/layouts/boilerplate.ejs") %>

<main class="d-flex m-0 h-100 w-100 p-4 justify-content-center">
    <div class="col-md-10 col-lg-8">
        <div>
            <p>We're sorry, this site can't be reached.</p>
            <p>Here is what you can do:</p>
            <p>
                <i class="fa-solid fa-rotate me-2"></i>
                <b>Refresh the page</b> (sometimes this helps).
            </p>
            <p>
                <i class="fa-solid fa-clock me-2"></i>
                <b>Try again</b> in 30 minutes.
            </p>
            <p>
                <i class="fa-solid fa-envelope me-2"></i>
                <b><a class="text-decoration-none text-dark text-decoration-underline" href="#">Email Us</a></b> if the issue persists.
            </p>
        </div>
        <div class="">
            <p class="text-muted small">(HTTP Error: <%= err.statusCode %>)</p>
        </div>
    </div>
</main>