<footer class="footer border-top text-muted small bg-light">
        <div class="d-flex flex-column flex-sm-row justify-content-between p-4">
                <div class="col-sm-3 mb-4">
                        <h6 class="">Company</h6>
                        <ul class="list-group small">
                                <a href="#" class="link-secondary text-decoration-none my-1">About Us</a>
                                <a href="#" class="link-secondary text-decoration-none my-1">Our Team</a>
                                <a href="#" class="link-secondary text-decoration-none my-1">Careers</a>
                                <a href="#" class="link-secondary text-decoration-none my-1">Contact Us</a>
                        </ul>
                </div>
                <div class="col-sm-3 mb-4">
                        <h6>Community</h6>
                        <ul class="list-group small">
                                <a href="#" class="link-secondary text-decoration-none my-1">Content
                                        Guidelines</a>
                                <a href="#" class="link-secondary text-decoration-none my-1">Help Center</a>
                        </ul>
                </div>
                <div class="col-sm-3 mb-4">
                        <h6>Legal</h6>
                        <ul class="list-group small">
                                <a href="#" class="link-secondary text-decoration-none my-1">
                                        Privacy Policy
                                </a>
                                <a href="#" class="link-secondary text-decoration-none my-1">
                                        Terms of Use
                                </a>
                                <a href="#" class="link-secondary text-decoration-none my-1">
                                        Cookie Policy
                                </a>
                                <a href="#" class="link-secondary text-decoration-none my-1">
                                        Partnerships & Advertising
                                </a>
                        </ul>
                </div>
                <div class="col-sm-3 mb-4">
                        <h6>Follow Us</h6>
                        <ul class="list-group small list-group-horizontal">
                                <a href="#" class="link-secondary me-4">
                                        <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#" class="link-secondary me-4">
                                        <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="#" class="link-secondary me-4">
                                        <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="#" class="link-secondary">
                                        <i class="fa-brands fa-linkedin"></i>
                                </a>
                        </ul>
                </div>
        </div>
        <p class="m-0 p-4 bg-dark"><small>This web app is based on a concept developed during a web development
                        course and has been improved and enhanced by Melissa V Herbst.</small></p>
</footer>