<footer class="footer text-muted small mt-auto px-3 py-4">
        <p>&copy;&nbsp;Yelp-Camp</p>
        <p><small>This web app is based on a concept developed during a web development course and has been improved and enhanced with by
        Melissa V Herbst.</small></p>
</footer>