<% layout("/layouts/boilerplate.ejs") %>

    <!-- main content -->
    <main class="h-100">
        <!-- background image -->
        <div id="background-image" class="py-5 h-100">
            <div class="d-flex flex-column justify-content-center h-100 p-5">
                <p class="display-4 text-light">
                    Discover, Share, Connect
                </p>
                <p class="lead text-light">
                    Welcome to Yelp-Camp, where every campsite becomes a story and every explorer a storyteller.
                    Uncover breathtaking destinations, share your own experiences, and connect with fellow nature
                    enthusiasts.
                </p>
                <p>
                    <a class="btn btn-outline-light rounded-pill py-2 mt-5" href="/campgrounds" role="button">
                        <span class="mx-2">View Campgrounds</span>
                        <i class="fa-solid fa-arrow-right mx-2"></i>
                    </a>
                </p>
            </div>
        </div>
        <!-- end of background image -->
    </main>
    <!-- end of main content -->