<% layout("layouts/boilerplate.ejs") %>

    <!-- main content for user login form -->
    <main class="row m-0 h-100 py-4 justify-content-center align-items-center">
        <div class="card border-0 col-md-8">
            <div class="card-body text-center">
                <form action="/login" method="POST">
                    <div class="mb-5">
                        <p class="display-5">Log In</p>
                    </div>
                    <div class="mb-4">
                        <label for="username" class="form-label" hidden>Username:</label>
                        <input type="text" class="form-control" placeholder="Username" id="username" name="username"
                            required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label" hidden>Password:</label>
                        <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                            required>
                    </div>
                    <div class="mb-4">
                        <button class="btn btn-primary w-100" type="submit">Log In</button>
                    </div>
                </form>
                <div>
                    <p><small>Don't have an account? <a href="/register">Register</a></small></p>
                </div>
            </div>
        </div>
    </main>
    <!-- end of main content -->