<% layout("layouts/boilerplate.ejs") %>

    <!-- main content for user sign-up form -->
    <main class="row m-0 py-4 h-100 w-100 align-items-center justify-content-center">
        <div class="card border-0 col-md-8 col-lg-6">
            <div class="card-body text-center">
                <form action="/register" method="POST">
                    <div class="mb-5">
                        <p class="display-5">Sign Up</p>
                    </div>
                    <div class="mb-4">
                        <label for="username" class="form-label" hidden>Username:</label>
                        <input type="text" class="form-control" placeholder="Username" id="username" name="username"
                            required>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="form-label" hidden>Email:</label>
                        <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label" hidden>Password:</label>
                        <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                            required>
                    </div>
                    <div class="mb-4">
                        <button class="btn btn-primary w-100 text-white" type="submit">Sign Up</button>
                    </div>
                </form>
                <div>
                    <p><small>Already have an account? <a href="/login">Log In</a></small></p>
                </div>
            </div>
        </div>
    </main>
    <!-- end of main content for user sign-up form -->