body {
	max-width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;
}

/* ----------------------------------------
/* home page css */
/* path: / */
#background-image {
	background-image: linear-gradient(to bottom left, hsl(210, 40%, 15%) 0%, hsla(190, 40%, 15%, 0.65) 60%, hsla(209, 67%, 10%, 0.2)),
		url("https://images.unsplash.com/photo-1602391833977-358a52198938?auto=format&fit=crop&q=80&w=1074&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* this flips the whole image horizontally, including all of the text - we are correcting it below */
	transform: scaleX(-1);
}

/* reflips the text so that only the image is flipped */
#background-image div {
	transform: scaleX(-1);
}

/* ----------------------------------------
/* index page css (all campgrounds) */
/* path: /campgrounds */
.custom-map1 {
	height: 60vh;
	width: 100vw;
}

.custom-text-overflow-clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

/* ----------------------------------------
/* details page css (single campground) */
/* path: /campgrounds/:id */
.custom-map2 {
	height: 35vh;
	width: 100vw;
}

.custom-reviews-overflow {
	max-height: 75vh;
	overflow-y: auto;
	overflow-x: hidden;
}

/* ----------------------------------------
/* general css */
.custom-link {
	transition: 0.25s ease-in-out;
}

a.custom-link:hover {
	background-color: hsla(187, 9%, 71%, 0.2);
}

div.custom-link:hover {
	background-color: hsla(187, 9%, 71%, 0.2);
	border-color: hsla(187, 9%, 61%);
}
