body {
	max-width: 1440px;
	margin: 0 auto;
}

/* home page css */
/* path: / */
#background-image {
	background-image: linear-gradient(hsla(215, 60%, 12%, 0.85), hsla(57, 80%, 8%, 0.65)),
		url("https://images.unsplash.com/photo-1508873696983-2dfd5898f08b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* index page css (all campgrounds) */
/* path: /campgrounds */
.custom-map1 {
	height: 60vh;
	width: 100vw;
}

.custom-text-overflow-clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

/* details page css (single campground) */
/* path: /campgrounds/:id */
.custom-map2 {
	height: 35vh;
	width: 100vw;
}

.custom-reviews-overflow {
	max-height: 75%;
	overflow-y: auto;
	overflow-x: hidden;
}

/* general css */
.custom-link {
	width: fit-content;
	transition: 0.25s ease-in-out;
}

a.custom-link {
	width: fit-content;
	transition: 0.25s ease-in-out;
	border-bottom: 1px solid transparent;
}

a.custom-link:hover {
	border-bottom: 1px solid hsla(187, 9%, 61%);
}

div.custom-link:hover {
	background-color: hsla(187, 9%, 81%, 0.2);
	border-color: hsla(187, 9%, 61%);
}
